<div class="layout-wrapper" [ngClass]="containerClass">
    <div class="layout-topbar">
        <a class="layout-topbar-logo" routerLink="/login">
            <img src="assets/demo/images/login/logo.png" alt="logo" />
        </a>

        <button
            #menubutton
            class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()"
        >
            <i class="pi pi-bars"></i>
        </button>

        <button
            #topbarmenubutton
            class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()"
        >
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div
            #topbarmenu
            class="layout-topbar-menu"
            [ngClass]="{
                'layout-topbar-menu-mobile-active':
                    layoutService.state.profileSidebarVisible
            }"
        >
            <button class="p-link layout-topbar-button">
                <i class="pi pi-calendar"></i>
                <span>Calendar</span>
            </button>
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
            </button>
            <button class="p-link layout-topbar-button" routerLink="/login">
                <i class="pi pi-cog"></i>
            </button>
        </div>
    </div>

    <div class="layout-sidebar">
        <app-menu></app-menu>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>

        <div class="layout-footer">
            <img
                src="assets/demo/images/login/logo.png"
                alt="Logo"
                height="20"
                class="mr-2"
            />
        </div>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
